/* src/app/globals.css */

:root {
  /* Tu variable de color Naranja Corporativo */
  --color-corporate: #eb690b; 
  --color-bg-light: #f4f6f9;
}

body {
  background-color: var(--color-bg-light);
}

/* --- CLASES PERSONALIZADAS --- */

/* Botón Corporativo (Reemplaza al btn-primary de Bootstrap) */
.btn-corporate {
  background-color: var(--color-corporate) !important;
  border-color: var(--color-corporate) !important;
  color: white !important;
  font-weight: bold !important;
  transition: all 0.3s ease;
}

.btn-corporate:hover {
  background-color: #d15800 !important; /* Un poco más oscuro al pasar el mouse */
  border-color: #d15800 !important;
}

/* Texto Corporativo */
.text-corporate {
  color: var(--color-corporate) !important;
}

/* Fondos */
.bg-corporate-light {
  background-color: var(--color-bg-light);
}

/* Tarjetas limpias */
.card-clean {
  border-radius: 15px;
  border: none;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08); /* Sombra suave y moderna */
}